.header {
  grid-area: header;
}
.newsletter-text {
  grid-area: newsletter-text;
}
.newsletter-fields {
  grid-area: newsletter-fields;
}
.products {
  grid-area: products;
}
.share {
  grid-area: share;
}
.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "newsletter-text newsletter-fields"
    "products products"
    "share share"
    "footer footer";
  grid-gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.grid-container > div {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

.header-container {
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 8vw));
}

.title-container {
  padding: 40px 0px 0px 0px;
}

.title-container h4 {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  font-family: "helvetica Neue";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.title-container h1 {
  margin-top: -30px;
  text-align: center;
  font-weight: bold;
  font-size: 49px;
  font-family: "helvetica Neue";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.title-container p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "helvetica Neue";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.buttons-container {
  padding: 40px 40px 150px 0px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.buttons-container button {
  width: 160px;
  height: 40px;

  display: block;
  float: left;
  margin-right: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
}

.buttons-container button span {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.buttons-container button:hover {
  background: #dbdbdb;
}

.newsletter-text {
  float: left;
}

.newsletter-text-container {
  padding-left: 380px;
  padding-right: 545px;
  position: relative;
}

.newsletter-text-container h2 {
  text-align: left;
  font: normal normal normal 20px/24px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  padding: 10px 0px 10px 0px;
}

.newsletter-text-container p {
  text-align: left;
  padding: 5px 0px 5px 0px;
  font: normal normal normal 12px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.newsletter-fields {
  position: relative;
  margin-left: -145%;
}

.newsletter-fields form .field-group {
  text-align: left;
}

.newsletter-fields form .field-group label {
  width: 58px;
  height: 14px;

  text-align: left;
  font: normal;
  font-size: 12px;
  font-family: "Helvetica Neue";

  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.newsletter-fields form .field-group input {
  width: 340px;
  height: 30px;

  margin-bottom: 15px;
  display: block;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.newsletter-fields form .field-group .email-validation-feedback {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  margin-top: -10px;
  margin-bottom: 10px;
}

.newsletter-fields form .radio-group {
  margin-left: -82%;
  margin-bottom: 15px;
}

.newsletter-fields form .radio-group input {
  width: 14px;
  height: 14px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.newsletter-fields form .radio-group label {
  width: 55px;
  height: 14px;

  text-align: left;
  font: normal normal normal 12px/14px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.newsletter-fields form button {
  width: 350px;
  height: 39px;

  margin-left: -60%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
}

.newsletter-fields form button:hover {
  background: #dbdbdb;
}

.newsletter-fields form button span {
  width: 44px;
  height: 18px;
  text-align: left;
  font: normal normal normal 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.products-section {
  display: flex;
  align-items: center;
  text-align: center;
}

.products-section::before,
.products-section::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #888888;
  opacity: 1;
}

.products-section::before {
  margin-right: 0.5em;
}
.products-section::after {
  margin-left: 0.5em;
}

.products .products-section h4 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.product-grid {
  width: 931px;
  height: 740px;

  margin-left: 23%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  opacity: 1;
  margin-bottom: 20px;
}

.product-card {
  width: 201px;
  height: 350px;

  padding: 1rem;
  opacity: 1;
}

.product-card .image-container {
  width: 200px;
  height: 150px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.product-card .image-container img {
  width: 200px;
  height: 150px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.product-details {
  width: 200px;
}

.product-details h1 {
  width: 111px;
  height: 16px;

  text-align: left;
  font-weight: normal;
  font-size: 15px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.product-details p {
  width: 200px;
  height: 60px;

  text-align: left;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.product-price h4 {
  width: 96px;
  height: 19px;

  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  margin-top: -5px;
}

.product-price p {
  width: 88px;
  height: 14px;

  text-align: left;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  margin-top: -15px;
}

.product-card button {
  width: 200px;
  height: 30px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
}

.product-card button:hover {
  background: #dbdbdb;
}

.product-card button span {
  width: 63px;
  height: 18px;

  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.products .more-products button {
  width: 260px;
  height: 39px;

  margin-top: 60px;
  margin-bottom: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
}

.products .more-products button:hover {
  background: #dbdbdb;
}

.products .more-products button span {
  width: 187px;
  height: 18px;

  text-align: left;
  font: normal normal normal 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.share-section {
  display: flex;
  align-items: center;
  text-align: center;
}

.share-section::before,
.share-section::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #888888;
  opacity: 1;
}

.share-section::before {
  margin-right: 0.5em;
}
.share-section::after {
  margin-left: 0.5em;
}

.share .share-section h4 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.share p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  margin-bottom: 50px;
}

.share form .field-group {
  text-align: center;
}

.share form .form-column {
  width: 50%;
  float: left;
}

.form-column {
  display: block;
  align-items: center;
  margin-left: 24%;
  margin-right: 20%;
}

.share form .field-group label {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.share form .field-group input {
  width: 340px;
  height: 30px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  margin-bottom: 20px;
  margin-right: 30px;
}

.share form button {
  width: 230px;
  height: 39px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
}

.share form button:hover {
  background: #dbdbdb;
}

.share form button span {
  width: 89px;
  height: 18px;

  text-align: left;
  font: normal normal normal 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.footer-container {
  width: 100vw;
  height: 293px;

  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;

  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 calc(100% - 11vw));
}

.page-footer-text-container {
  padding-top: 140px;
  text-align: center;
}

.page-footer-text-container p {
  color: #ffffff;
  text-align: center;
  font: normal normal normal 14px Helvetica Neue;
  letter-spacing: 0px;
  opacity: 1;
}
